## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,5,Atuona,PF,76.35,-9.8000,-139.0333,Villa Enata
1,6,Dawei,MM,76.24,14.0833,98.2000,Hotel Dawei
2,7,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,14,Butaritari,KI,81.23,3.0707,172.7902,Isles Sunset Lodge
4,17,Harper,LR,80.69,4.3750,-7.7169,Screensaver

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
travel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=travel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,5,Atuona,PF,76.35,-9.8000,-139.0333,Villa Enata
1,6,Dawei,MM,76.24,14.0833,98.2000,Hotel Dawei
2,7,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,14,Butaritari,KI,81.23,3.0707,172.7902,Isles Sunset Lodge
4,17,Harper,LR,80.69,4.3750,-7.7169,Screensaver
...,...,...,...,...,...,...,...
199,691,Manokwari,ID,78.46,-0.8667,134.0833,Swiss Belhotel Manokwari
200,693,Kudahuvadhoo,MV,83.07,2.6708,72.8944,Niyama Private Islands Maldives
201,694,Soure,BR,85.51,-0.7167,-48.5233,Casarão da Amazônia
202,695,Bima,ID,78.93,-8.4667,118.7167,Lambitu Hotel
203,696,Paita,PE,75.76,-5.0892,-81.1144,Hotel Náutico de Paita

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Haimen")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Haimen")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Victoria")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Qiongshan")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Davila")]

In [8]:
vacation_start

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
48,183,Haimen,CN,75.09,23.1935,116.6142,Jinghao Business Hotel

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(x) for x in vacation_start[['Lat', 'Lng']].to_numpy()][0]
end = [tuple(x) for x in vacation_end[['Lat', 'Lng']].to_numpy()][0]
stop1 = [tuple(x) for x in vacation_stop1[['Lat', 'Lng']].to_numpy()][0]
stop2 = [tuple(x) for x in vacation_stop2[['Lat', 'Lng']].to_numpy()][0]
stop3 = [tuple(x) for x in vacation_stop3[['Lat', 'Lng']].to_numpy()][0]

In [11]:
print(start)

(23.1935, 116.6142)

In [12]:
print(end)

(23.1935, 116.6142)

In [13]:
print(stop1)

(22.2855, 114.1577)

In [14]:
print(stop2)

(20.0058, 110.3542)

In [15]:
print(stop3)

(18.4726, 120.5763)

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# 7. Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints. 
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
print(start)

(23.1935, 116.6142)

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,183,Haimen,CN,75.09,23.1935,116.6142,Jinghao Business Hotel
1,27,Victoria,HK,80.58,22.2855,114.1577,Mini Hotel Central
2,25,Qiongshan,CN,75.18,20.0058,110.3542,Sun City Restaurant
3,250,Davila,PH,79.90,18.4726,120.5763,Blue Ridge Beach Resort

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))